body {
	font-family: Helvetica,"Liberation Sans",Arial,sans-serif;
	padding: 0px;
	padding-bottom: 40px;
	margin: 0px;
	height: 100%;
}

h1 {
	color: #333;
	font-size: 54px;
	font-weight: 300;
	line-height: 60px;
	letter-spacing: -0.015em;
	margin-bottom: 48px;
}

div#centercol {
	width: 75%;
	margin: auto;
}

div#controls {
	position: fixed;
	width: 100%;
	bottom: 0px;
	padding: 10px;
	background-color: #fff;
}

span#answercount {
	position: fixed;
	right: 10px;
}

canvas#questionimage {
	margin: 0px;
	margin-left: auto;
	margin-right: auto;
}

ul#optionlist {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}

li.quiz {
	position: relative;
	color: #555;
	font-size: 24px;
	font-weight: 400;
	line-height: 36px;
	background-color: #eee;
	padding: 10px;
	margin: 10px;
}

li.option {
	position: relative;
	color: #333;
	font-size: 24px;
	font-weight: 400;
	line-height: 36px;
	background-color: #eee;
	padding: 10px;
	margin: 10px;
}

span.optioncount {
	position: absolute;
	color: #555;
	font-size: 24px;
	font-weight: 400;
	right: 10px;
	margin-left: 20px;
}

li.selected {
	background-color: #6fd7f1;
}

li.correct {
	border-style: solid;
	border-width: 5px;
	border-color: #73f16f;
}

li.correct.selected {
	background-color: #73f16f;
}

li.incorrect.selected {
	background-color: #f16f78;
}

.pointer {
	cursor: pointer;
}

.crosshair {
	cursor: crosshair;
}

